body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
    color: #333;
}

header{
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 50px;
}

section{
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1{
    margin: 0;
}

h2{
    color: #1e3a8a;
}

.card{
    background: #f8fafc;
    padding: 15px;
    margin: 15px 0;
    border-left: 5px solid #1e3a8a;
    border-radius: 8px;
}

button{
    background: white;
    color: #1e3a8a;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.dark{
    background: #121212;
    color: white;
}

.dark section{
    background: #1f1f1f;
}

.dark .card{
    background: #2b2b2b;
}